@model CampBg.Web.Areas.Administration.ViewModels.CategoryViewModel

<div class="form-group">
    @Html.HiddenFor(x => x.Id)
    <div class="editor-label">
        @Html.LabelFor(x => x.Name)
    </div>
    <div class="editor-field">
        @Html.EditorFor(x => x.Name)
        @Html.ValidationMessageFor(x => x.Name)
    </div>
    
    <div class="editor-label">
        @Html.LabelFor(x => x.NameEn)
    </div>
    <div class="editor-field">
        @Html.EditorFor(x => x.NameEn)
        @Html.ValidationMessageFor(x => x.NameEn)
    </div>
</div>