@using System.Collections
@using CampBg.Web.Areas.Administration.ViewModels
@model ProductPropertyViewModel

<div class="form-group">
    @Html.HiddenFor(x => x.Id)

    <div class="editor-label">
        @Html.LabelFor(x => x.PropertyId)
    </div>
    <div class="editor-field">
        @(Html.Kendo()
              .ComboBox()
              .Value("Property")
              .Name("PropertyId")
              .DataValueField("Id")
              .DataTextField("Name")
              .Filter(FilterType.Contains)
              .BindTo((IEnumerable)ViewBag.Properties))
        @Html.ValidationMessageFor(x => x.PropertyId)
    </div>
    
    <div class="editor-label">
        @Html.LabelFor(x => x.Value)
    </div>
    <div class="editor-field">
        @Html.EditorFor(x => x.Value)
        @Html.ValidationMessageFor(x => x.Value)
    </div>
</div>