@model CampBg.Web.Areas.Administration.ViewModels.UserViewModel

@using CampBg.Web.Areas.Administration.ViewModels

<div class="form-group">
    @Html.HiddenFor(x => x.Id)
    <div class="editor-label">
        @Html.LabelFor(x => x.UserName)
    </div>
    <div class="editor-field">
        @Html.EditorFor(x => x.UserName)
        @Html.ValidationMessageFor(x => x.UserName)
    </div>
    
    <div class="editor-label">
        @Html.LabelFor(x => x.Email)
    </div>
    <div class="editor-field">
        @Html.EditorFor(x => x.Email)
        @Html.ValidationMessageFor(x => x.Email)
    </div>
    
    <div class="editor-label">
        @Html.LabelFor(x => x.IsSubscribedForNewsletter)
    </div>
    <div class="editor-field">
        @Html.EditorFor(x => x.IsSubscribedForNewsletter)
        @Html.ValidationMessageFor(x => x.IsSubscribedForNewsletter)
    </div>
    
    <div class="editor-label">
        @Html.LabelFor(x => x.IsDeleted)
    </div>
    <div class="editor-field">
        @Html.EditorFor(x => x.IsDeleted)
        @Html.ValidationMessageFor(x => x.IsDeleted)
    </div>

    <div class="editor-label">
        @Html.LabelFor(x => x.UserRoles)
    </div>

    <div class="editor-field">
        @(Html.Kendo()
            .MultiSelectFor(model => model.UserRoles)
            .Name("UserRoles")
            .DataTextField("Text")
            .DataValueField("Id")
            .AutoBind(false)
            .BindTo((IEnumerable<UserRoleViewModel>)this.ViewBag.UserRoles)
            .Placeholder("No role selected"))
 
        @Html.ValidationMessageFor(x => x.UserRoles)
    </div>

    <div class="editor-label">
        @Html.LabelFor(x => x.Password)
    </div>
    <div class="editor-field">
        @Html.EditorFor(x => x.Password)
        @Html.ValidationMessageFor(x => x.Password)
    </div>
</div>