@model CampBg.Web.ViewModels.ProductListViewModel
@using Resource = CampBg.Web.Localization.Views

@{
    string className;
    if (!string.IsNullOrEmpty((string)ViewData["class"]))
    {
        className = (string)ViewData["class"];
    }
    else
    {
        className = "col-md-4 margin-top-small margin-bottom-big";
    }

    string productClass;
    if (!string.IsNullOrEmpty((string)ViewData["productContainerClass"]))
    {
        productClass = (string)ViewData["productContainerClass"];
    }
    else
    {
        productClass = "product-container home-page-item";
    }
}

<div class="@className">
    <div class="@productClass">
        <a href="@Url.Action("Details", new { controller = "Products", id = Model.Id, name = Model.Name, area = "Products" })">
            <img src="@Model.Image.Location" class="product-image" alt="@Model.Name image" />
            <div class="bottom">
                <div class="ellipsis">@Model.Name</div>
                <div>@Model.Price @Resource.Currency</div>
            </div>
        </a>
    </div>
</div>
